 *::before, *::after {
     box-sizing: border-box;
 }

 body{
     margin: 0;
    background-color: #212121;
 }

 .wrapper{
    margin: 0 5%;
 }

 .container .ql-editor {
     min-height: 11in;
     width: 8.5in;
     padding: 1in;
     background-color: white;
     margin-top: 15px;
     box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
 }

 .container .ql-container.ql-snow{
     border: none;
     display: flex;
     justify-content: center;
     zoom: 70%;
     padding: 25px;
     border: 1px solid rgba(8, 59, 61, 0.769);
 }

 .container .ql-toolbar.ql-snow{
     display: flex;
     justify-content: center;
     z-index: 1;
     background-color: rgb(4, 154, 159);
     border: none;
     border-radius: 5px 5px 0 0;
 }

 .ql-formats{
     box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
     border-radius: 5px;
 }


 @media print {
     body{
         background: none;
     }

     .container .ql-editor {
         padding: 0;
         margin: 0;
         box-shadow: none;
         align-self: flex-start;
     }

     .container  .ql-toolbar.ql-snow {
         display: none;
     }
 }

 .container{
     display: flex;
     flex-direction: column;
     padding: 20px;
     border: 1px solid red;
     background-color: #212121;
     min-height: 90vh;
     width: 60%
 }